<h1>Teams#show</h1>
<p>Find me in app/views/teams/show.html.erb</p>

<h1><%= @team.name %></h1>

<%= render 'pages/db_schema', :locals => { :model => Team } %>
<%= render 'ladder' %>

<h3>Fixtures:</h3>
<% @team.fixtures.each do |fixture| %>
  <%= render '/fixtures/fixture_card', :locals => { :fixture => fixture } %>
<% end %>
