<h3>Database Schema:</h3>
<table>

  <tr>
    <% locals[:model].column_names.each do |col| %>
      <th><%= col %></th>
    <% end %>
  </tr>

  <% models = params[:id] ? locals[:model].where(id: params[:id]) : locals[:model].all %>
  <% models.each do |model| %>
    <tr>
      <% locals[:model].column_names.each do |col| %>
        <td><%= model[col] %></td>
      <% end %>
    </tr>
  <% end %>

</table>
