<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<table>

  <tr>
    <th>Model</th>
    <th>Path</th>
  </tr>

  <% get_all_models.each do |model| %>
    <tr>
      <td><%= model %></td>
      <td><%= link_to "/#{model.downcase}s", "/#{model.downcase}s" %></td>
    </tr>
  <% end %>

</table>
