// Place all the styles related to the Fixtures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+Mono&display=swap');

.fixtures-nav {
  display: flex;
  justify-content: space-around;
}

.fixtures-nav > button {
  background-color: #FFEF6B;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  height: 2rem;
  width: 2.5rem;
}

.fixtures-nav > button:hover, .fixtures-nav > button:active {
  background-color: #FE8BB5;
}
