// Place all the styles related to the Fixtures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+Mono&display=swap');

.fixtures-nav {
  display: flex;
  justify-content: space-around;
  overflow: auto;
}

.fixtures-nav > a {
  background-color: #DADADA;
  border: none;
  border-radius: 0.2rem;
  color: #242430;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  margin: 0 0.3rem;
  text-align: center;
}

.fixtures-nav > .selected {
  background-color: #FFEF6B;
}

.fixtures-nav > a:hover, .fixtures-nav > a:active {
  background-color: #FE8BB5;
}

.fixture-card {
  margin: 1rem;
}
